@import './base.css';

body {
  --background-colour: hsl(216, 28%, 7%);
  --grid-lines-colour: hsl(0, 0%, 15%);

  width: 100vw;
  height: 100vh;

  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-inline: 4rem;

  background-image:
    linear-gradient(var(--grid-lines-colour) 1px, transparent 1px),
    linear-gradient(to right, var(--grid-lines-colour) 1px, var(--background-colour) 1px);
  background-size: 40px 40px;

  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-colour);
}

::-webkit-scrollbar-thumb {
    background: var(--grid-lines-colour);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(187, 187, 187, 0.25);
}
