name: Build & Push Docker Image to Dockerhub

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "Dockerfile"
      - "visualisation-server/Dockerfile"

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            context: .
            tag: egt309-team-harish-kanna-kedro-pipeline:latest
          - dockerfile: visualisation-server/Dockerfile
            context: visualisation-server/
            tag: egt309-team-harish-kanna-kedro-visualisation-server:latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.dockerfile }}
          context: ${{ matrix.context }}
          push: true
          tags: higherground189/${{ matrix.tag }}