name: format-and-lint_action

on:
  push:
    branches: [main]
    paths:
      - '**/*.py'
      - '**/*.ipynb'
  pull_request:
    branches: [main]
    paths:
      - '**/*.py'
      - '**/*.ipynb'

permissions:
  contents: write

jobs:
  format-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Install uv
        uses: astral-sh/ruff-action@v3

      - name: Lint code with Ruff
        run:  ruff check --fix-only .

      - name: Format code with Ruff
        run:  ruff format .

      - name: Commit & push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          message: 'chore: Apply Ruff fixes/formatting'



      

      

