name: format-and-lint_action

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  format-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Format code with Ruff
        run: uvx ruff format .

      - name: Lint code with Ruff
        run: uvx ruff check --fix-only .

      - name: Commit & push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          message: 'chore: Apply Ruff fixes/formatting'



      

      

