name: Update requirements.txt from pyproject.toml

on:
  push:
    branches: [main]
    paths:
      - "pyproject.toml"
  pull_request:
    branches: [main]
    paths:
      - "pyproject.toml"
    
permissions:
  contents: write

jobs:
  update-requirements:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Compile requirements.txt
        run: uv pip compile pyproject.toml -o requirements.txt

      - name: Pull latest changes (rebase)
        run: |
          BRANCH="${GITHUB_REF##refs/heads/}"

          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add .
          git commit -m "chore: Updated requirements.txt"
          git pull --rebase origin $BRANCH

          git push origin "$BRANCH"