name: Update requirements.txt from pyproject.toml

on:
  push:
    branches: [main]
    paths:
      - "pyproject.toml"
  pull_request:
    branches: [main]
    paths:
      - "pyproject.toml"
    
permissions:
  contents: write

concurrency:
  group: global

jobs:
  update-requirements:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Compile requirements.txt
        run: uv pip compile pyproject.toml -o requirements.txt

      - name: Commit & push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          rebase: true
          message: 'chore: Updated requirements.txt'
