name: Format and Lint YAML files

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  yamlfmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'
      
      - name: Install Run yamlfmt
        run: go install github.com/google/yamlfmt/cmd/yamlfmt@v0.20.0
      
      - name: Run yamlfmt
        run: yamlfmt .