name: Format and Lint YAML files

on:
  push:
    branches: [main]
    paths:
      - "**/*.yml"
      - "**/*.yaml"
      - "!.github/workflows/**"
  pull_request:
    branches: [main]
    paths:
      - "**/*.yml"
      - "**/*.yaml"
      - "!.github/workflows/**"

permissions:
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prettify code
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write **/*.{yml,yaml} --check !.github/workflows/**
          no_commit: true

      - name: Commit & push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          author_name: github-actions[bot]
          author_email: github-actions[bot]@users.noreply.github.com
          message: 'chore: Applied Prettier formatting'